* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container .box {
    height: 630px;
    width: 600px;
    border: 15px solid black;
    border-radius: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-md-4 {
    height: 200px;
    width: 200px;
    border: 8px solid black;
    
}

img {
    height: 185px;
    width: 175px;
}